

body{
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#home{
  display: none;
}

#app{
  display: none;
}

#loading{
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 1;
   background-color: black;
   z-index: 10;
   text-align: center;
}

#load-img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 280px;
}

#video-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: -10;
}

video{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    z-index: -10;
}

.logoImg{
  z-index: 10;
}

.headerTitle{
  text-shadow: 0 0.5rem 1rem #000, 0 0 2rem #000;
  font-style: italic;
  font-weight: bold;
}

#headerBtn{
  background-color: #d0011b;
  color: #fff;
}

#headerBtn:hover{
  background-color: #780110;
  color: #fff; 
  cursor: pointer;
}


header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  /*background-image: url("../images/header.jpg");*/
  background-position: center center;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
  #appList li{
  width: 50%;
}
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }

  #appList .appChar{
  list-style-type: none;
  width: 70%;
}
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
  #appList .appChar{
  width: 60%;
}
}


.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

#app{
   background-color: #fff;

}

#appList{
  margin: 3em 0em 0em 5em;
}

#appList .appChar{
  list-style-type: none;
  width: 90%;
  margin-bottom: 10px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.4em;

}

#appList .list-group-item:hover{
  /*background-color: #d0011b;*/
  /*color: white;*/
  cursor: pointer;
}

.charMoves{
  z-index: 10;
}

.charGifs{
  z-index: 10;
}

.charMoves, .charGifs{
  background-color: beige;

}

.appChar .notation{
  width: 50%;
  float: left;
}

.game{
  text-transform: uppercase;
}
.appChar .hit-level{
  width: 10%;
}

.modal-background{
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color:rgba(0,0,0,0.6);
   z-index: 20;

}

.modal-box{
    max-height: 400px;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
    overflow: scroll;

}

.modal-close{
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
}

.modal-close:hover{
  color: red;
}

.notation{
  width: 300px;
  float: left;
  box-sizing:border-box;
  font-size: 14px;
}

.hit-level, .damage, .on-block, .on-ch, .on-hit{
  width: 150px;
  float: left;
  box-sizing:border-box;
  font-size: 14px;

}







